In [21]:
import pandas as pd

nba = pd.read_csv("../data/nba.csv")

In [23]:
nba_extract = nba[['Team', 'Salary']].fillna(0)
nba_grouped = nba_extract.groupby(['Team'], axis=0, as_index=False).sum()
nba_grouped.head(10)

                  Team       Salary
0                    0          0.0
1        Atlanta Hawks   72902950.0
2       Boston Celtics   58541068.0
3        Brooklyn Nets   52528475.0
4    Charlotte Hornets   78340920.0
5        Chicago Bulls   86783378.0
6  Cleveland Cavaliers  106988689.0
7     Dallas Mavericks   71198732.0
8       Denver Nuggets   60121930.0
9      Detroit Pistons   67168263.0